body{
    width:100%;
    background:
    linear-gradient(
      rgba(53, 92, 125, 0.8), /* #355c7d */
      rgba(108, 91, 123, 0.8), /* #6c5b7b */
      rgba(252, 171, 186, 0.8) /* #c06c7b */
    ),
    url('../Imagens/pexels-photo-237898.jpeg') no-repeat left top;
   background-size: cover;  
	z-index: 0; /* bottom layout */
}

.form-groupe{
    margin-bottom: 1rem;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2{
    margin:auto;
    padding: 5%;
    background: #0062BB;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
    
}
.login-container form{
    padding: 8%;
}

.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;

}

/* Visual do "Lembrar Senha*/
.custom-control-label{
    color:white;

}

.login_btn{
    width: 50%;
    background: #FFF !important;
    color: #0062cc !important; 
    margin-left: 25%;
    margin-top: 5%;
}