@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body{
    width:100%;
    background:
    linear-gradient(
      rgba(53, 92, 125, 0.8), /* #355c7d */
      rgba(108, 91, 123, 0.8), /* #6c5b7b */
      rgba(192, 108, 123, 0.8) /* #c06c7b */
    ),
    url('../Imagens/pexels-photo-237898.jpeg') no-repeat left top;
   background-size: cover;  
	z-index: 0; /* bottom layout */
}

/*FIM BACKGROUND*/
